body{font-family:arial,sans-serif;margin: 0; padding: 0;background-color:#efefef;word-wrap: break-word;}
body.night{background-color:#060606}
p{margin-top:0;margin-bottom:5pt}
#title_section{padding-top:6pt;background:transparent url('module_newsa_detail_split.png') repeat-x scroll center bottom;-webkit-background-size:320px 1px;}
#title{color:#5A5D60;font-weight:bold;text-align:center;font-size:14pt;padding:0 10;}
#subtitle{color:#3F4144;font-size:8pt;text-align:center;padding-top:3pt;padding-bottom:3pt}
hr{display: block;position: relative;padding:0;margin: 0px auto;width: 90%;clear: both;border: none;border-top: 1px solid #AAA;border-bottom: 1px solid #FFF;font-size: 1px;line-height: 0;overflow: visible;}
#body_section{padding-left:8pt;padding-right:8pt;padding-top:8pt;padding-bottom:10px;color:#333;font-size:12pt;line-height:16.5pt;}
body.night #body_section{color:#3F4144;}
#body_section.font_large{font-size:14pt;line-height:19pt;}
#body_section.font_small{font-size:10pt;line-height:13.5pt;}
.photo{position:relative;float:right;width:95px;height:95px;margin:5 0 5 5;clear:right;background-size: 100%;background-image: url("module_newsa_detail_pic.png");background-repeat: no-repeat;}
.photo_box{width:90px;height:90px;margin-top:2px;margin-left:2px;overflow:hidden;display:block}

.plus{position:absolute;left:-8px;top:79px;width:20px;height:20px;background-size: 100%;background-image: url("contentview_plus.png");background-repeat: no-repeat;}
/*.photo_box img{margin:auto;display: block;}*/
*{-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
/*-webkit-text-size-adjust: none;*/ /* prevent webkit from resizing text to fit */
-webkit-tap-highlight-color: rgba(0,0,0,0.15); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
/*-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

@media screen and (-webkit-device-pixel-ratio: 2) {
#title_section {background:transparent url('module_newsa_detail_split@2x.png') repeat-x scroll center bottom;}
.photo{background-image: url("module_newsa_detail_default_img@2x.png");}
.plus{background-image: url("contentview_plus@2x.png");}

body.night #title_section {background:transparent url('module_newsa_detail_split@2x.png') repeat-x scroll center bottom;}    
body.night .plus{background-image: url("night_contentview_plus@2x.png");}

.image {max-width: 110px;max-height:110px} /* for Firefox & IE7 */
* html .image { /* for IE6 */
width: expression(this.width > 110 ? 110 : true);
height: expression(this.hetght> 110 ? 110 : true);
}
