<html><head><script type="text/javascript">
    function changeFontSize(cssName) {
        var allP = document.getElementById('body_section');
        allP.className = cssName;
    }
    </script><link href='module_articled_content.css' rel='stylesheet' type='text/css' /></head><body class="{{theme}}">
    <div id="title_section">
        {% if title %}
		<div id='title'>{{title}}</div>
		<div id='subtitle'>{{date}}</div>
        {% else%}
		<div id='title'>此文章不存在</div>
		<div id='subtitle'>　</div>
        {% /if %}
        
    </div>
    <hr/>
    <div id="body_section" class="{{fontClass}}">{{body}}{% if title %}{% /if %}</div>
    <script type="text/javascript">
        
        function extend_image(url,element){
            y=0;
            while( element != null ) {
                y += element.offsetTop;
                element = element.offsetParent;
            }
            location.href="image:///"+(y - window.pageYOffset)+"///"+url;
        }
    
    String.prototype.startWith=function(str){
        var reg=new RegExp("^"+str);
        return reg.test(this);
    }
    
    function getTag(result){
        var href = result;
        var content = result;
        if(result.indexOf(',')>0){
            var t = result.split(',');
            href = t[0];
            content = t[1];
        }
        return {'href': href, 'content': content};
    }
    function TagHandler()
    {
        var bodyContentText = document.body.innerText;
        var bodyContent = document.body.innerHTML;
        var telPatt = /\[电话:(.*?[^\]])\]/g;
        var uriPatt = /\[网址:(.*?[^\]])\]/g;
        var smsPatt = /\[短信:(.*?[^\]])\]/g;
        var jumpModulePatt = /\[模块:(.*?[^\]])\]/g;
        var result;
        //打电话
        while ((result = telPatt.exec(bodyContent)) != null)  {
            var data = getTag(result[1]);
            bodyContent = bodyContent.replace(result[0], '<a href="tel:'+ data.href +'">'+ data.content + '</a>');
        }
        //网址
        while ((result = uriPatt.exec(bodyContent)) != null)  {
            var data = getTag(result[1]);
            if(!data.href.startWith('http')){
                data.href = 'http://' + data.href;
            }
            bodyContent = bodyContent.replace(result[0], '<a href="'+ data.href +'">'+ data.content +'</a>');
        }
        //发短信
        while ((result = smsPatt.exec(bodyContent)) != null)  {
            var data = getTag(result[1]);
            bodyContent = bodyContent.replace(result[0], '<a href="sms:'+ data.href +'">'+ data.content +'</a>');
        }
        //模块跳转
        while ((result = jumpModulePatt.exec(bodyContent)) != null)  {
            var data = getTag(result[1]);
            bodyContent = bodyContent.replace(result[0], '<a href="native://'+ data.href +'">'+ data.content +'</a>');
        }
        
        //ios图片替换
        bodyContent = bodyContent.replace('onload="javascript:DrawImage(this)"', 'onclick="javascript:extend_image(this.src, this)"');
        
        document.body.innerHTML = bodyContent;
    } 
    window.onload = TagHandler();
    
        </script>
</body></html>